<html>
    <head>
        <title>Stephanie Cheng</title>
        <meta name="author" content="scheng">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="src/css/app.css">
    </head>
    <body>
        <div id="app" ng-app="app">
            <div ng-controller="PageCtrl as pg" class="page-wrapper">
                <div id="header">
                    <div class="logo" ng-click="pg.reset()"><img src="files/logo_fitted.png"></div>
                    <div id="navigation" nav nav-changed="pg.navChanged(navitem)" nav-items="pg.navitems"></div>
                </div>
                <div id="content">
                    <landing-page id="landing" class="page" ng-class="{ current: pg.pages.landing.active }" ng-if="pg.viewPage"></landing-page>
                    <about-page id="about" class="page" ng-class="{ current: pg.pages.about.active }" ng-if="pg.viewPage"></about-page>
                    <portfolio-page id="portfolio" class="page" ng-class="{ current: pg.pages.portfolio.active }" ng-if="pg.viewPage"></portfolio-page>
                    <links-page id="links" class="page" ng-class="{ current: pg.pages.links.active }" ng-if="pg.viewPage"></links-page>
                </div>
            </div>
        </div>
        <script src="resource/angular.min.js"></script>
        <script src="resource/angular-animate.min.js"></script>
        <script src="src/app.js"></script>
        <script src="src/directives/nav/nav.js"></script>
        <script src="src/directives/nav/navCtrl.js"></script>
        <script src="src/directives/pages/about/about.js"></script>
        <script src="src/directives/pages/landing/landing.js"></script>
        <script src="src/directives/pages/portfolio/portfolio.js"></script>
        <script src="src/directives/pages/links/links.js"></script>
        <script src="src/directives/projects/projectView.js"></script>
        <script src="src/directives/projects/projectViewCtrl.js"></script>
        <script src="src/controllers/pageCtrl.js"></script>
    </body>
</html>