* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 12px;
    font-family: Helvetica, Calibri, 'sans-serif';
    background-color: #F3F3F3;
    color: #222;
    overflow: hidden;
}
a {
    text-decoration: none;
    font-style: italic;
    color: darkslategrey;
}
#header {
    margin-bottom: 25px;
    border-bottom: 1px solid darkslategrey;
}
.logo {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    cursor: pointer;
}
#navigation {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    margin-left: 15px;
    border-left: 1px solid darkslategrey;
}
#navigation .navitem {
    list-style: none;
    width: 75px;
    height: 15px;
    margin: 5px 0;
    position: relative;
    overflow: visible;
    cursor: pointer;
}
#navigation .navitem .navname {
    display: block;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 13px;
    transition: 0.25s
}
#navigation .navitem:hover .navname {
    left: 20px;
}
.arrow {
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    background-image: url('../../files/arrow.png');
    opacity: 0.4;
}
.navitem:hover .arrow {
    opacity: 0.8;
    -webkit-transition: opacity ease-in-out 0.25s;
    -moz-transition: opacity ease-in-out 0.25s;
    -ms-transition: opacity ease-in-out 0.25s;
    -o-transition: opacity ease-in-out 0.25s;
    transition: opacity ease-in-out 0.25s;
}
.navitem.selected .arrow {
    opacity: 0.8;
}
#content {
    margin-top: 15px;
    position: relative;
}
.page {
    margin: 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.page.current {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -ms-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
}
.about-panel {
    display: inline-block;
    vertical-align: middle;
}
.about-panel.img {
    width: 100px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}
.about-panel.img img {
    width: 100%
}
p.link {
    padding: 3px 0;
}
.project {
    margin-bottom: 50px;
}
.project a {
    font-style: normal;
}
.project p {
    margin: 5px 0;
}
.project .project-img {
    width: 250px;
    height: 100px;
    overflow: hidden;
}
.project .project-link img {
    opacity: 0.5;
    -webkit-transition: opacity ease-in-out 0.25s;
    -moz-transition: opacity ease-in-out 0.25s;
    -ms-transition: opacity ease-in-out 0.25s;
    -o-transition: opacity ease-in-out 0.25s;
    transition: opacity ease-in-out 0.25s;
}
.project .project-link:hover img {
    opacity: 1;
}
.project .project-img img {
    width: 100%;
}
.project .project-client {
    font-style: italic;
}
.project .project-title {
    font-weight: bold;
}

@media(max-width: 800px) {
    .page {
        margin: 0 10px;
    }
}

@media(max-width: 740px) {
    .about-panel {
        display: block;
    }
    .about-panel.img {
        width: 100px;
        margin: 0 auto;
    }
    .about-panel.about {
        padding: 10px 15px;
    }
}