<div class="project" ng-repeat="project in proj.projects">
    <div class="project-link">
        <div class="project-img">
            <div ng-if="project.href">
                <a ng-href="{{project.href}}">
                    <img ng-src="{{project.imgsrc}}" ng-if="project.imgsrc" ng-attr-title="{{project.title}}">
                </a>
            </div>
            <div ng-if="!project.href">
                <img ng-src="{{project.imgsrc}}" ng-if="project.imgsrc" ng-attr-title="{{project.title}}">
            </div>
        </div>
        <p class="project-title">
            <a ng-href="{{project.href}}" ng-if="project.href">{{project.title}}</a>
            <span ng-if="!project.href">{{project.title}} - preview coming soon</span>
        </p>
        <p class="project-noprev" ng-if="!project.imgsrc">No Preview Available</p>
    </div>
    <div class="project-details">
        <p class="project-client">Client: {{project.client}}</p>
        <p class="project-desc">{{project.description}}</p>
    </div>
</div>