* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    height: 100vh;
}
#page {
    position: relative;
    background: #eee;
    height: 100%;
}
#content {
    position: absolute;
    left: 200px;
    width: 400px;
    min-width: 320px;
    background: rgb(171, 191, 199);
    color: #222;
    padding: 0 10px;
    text-align: center;
    height: 100%;
}
#top {
    padding: 25px 0;
}
#top img {
    width: 100px;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.25s linear;
}
#top img:hover {
    opacity: 1;
}
#desc {
    padding-bottom: 30px;
}
#desc p {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    width: 300px;
}
#contact span {
    opacity: 0.25;
    transition: opacity 0.25s linear;
}
#contact span:hover {
    opacity: 1;
}
a {
    color: rgb(55, 92, 94);
    text-decoration: none;
}

@media (max-width: 600px) {
    #content {
        position: relative;
        left: 0;
        width: auto;
    }
}